@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --background-primary: #22223b;
  --primry-color: #ffbe0b;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
*::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgb(74, 78, 105);
}
::placeholder {
  color: #cccccc;
  user-select: none;
}
::selection {
    background-color: var(--primry-color);
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  max-width: 1400px;
  margin: 0 auto;
  background-color: var(--background-primary);
}
button {
  border: none;
  cursor: pointer;
  user-select: none;
}
input {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}
img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-page {
    position: relative;
}

.content {
    background-color: var(--background-primary);
    padding-top: 100px;
    overflow-y: hidden;
}

.movies {
    display: flex;
    margin: 0 -8px;
    flex-wrap: wrap;
    gap: 32px 0;
}

.all-movie {
    overflow: hidden;
}

.paginations {
    display: flex;
    gap: 12px;
    margin-bottom: 24px;
    overflow-y: auto;
    padding-bottom: 12px;
}

.page {
    font-size: 1.6rem;
    padding: 4px 12px;
    font-weight: 600;
    background-color: #ffbe0b;
    cursor: pointer;
    border-radius: 3px;
    transition: .3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.page:hover {
    opacity: .8;
}

.page.active {
    cursor: not-allowed;
    user-select: none;
    pointer-events: none;
    background-color: #3a86ff;
}

.see-more {
    display: none;
    justify-content: center;
    margin-bottom: 50px;
}

.see-more button {
    font-size: 1.6rem;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #ffbe0b;
    transition: .3s;
}

.see-more button:hover {
    opacity: .8;
}

.movie-info {
    position: absolute;
    left: 32px;
    bottom: 32px;
    padding: 8px;
    width: 90%;
}

.movie-info h3 {
    font-size: 4rem;
    margin-bottom: 12px;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 2px 2px rgba(0,0,0,.5);
}

.movie-info__bottom {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6px;
}

.watch-now {
    padding: 4px 8px;
    color: #fff;
    background-color: #ff006e;
    border-radius: 3px;
    font-size: 1.6rem;
    transition: .3s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    user-select: none;
}

.watch-now:hover {
    background-color: rgba(255, 0, 110, .8);
}

.quality, .year, .episode_current {
    font-size: 1.4rem;
    color: #fff;
    padding: 2px 4px;
    background-color:#3a86ff;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



