.main-page > header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--background-primary);
    padding: 12px 0;
    max-width: 1400px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    z-index: 9999;
    gap: 12px;
}
.logo {
    padding: 8px 0;
    font-size: 2rem;
}
.logo a {
    color: #ffbe0b;
}
.menu-header {
    display: flex;
}
.menu-header__item {
    font-size: 1.8rem;
    padding: 8px 12px;
    cursor: pointer;
    transition: .3s;
}
.menu-header__item:hover a {
    color: #ffbe0b;
}
.search {
    flex: 1;
    display: flex;
    justify-content: end;
}

.search input {
    width: 300px;
    background-color: #4a4e69;
    padding: 8px 16px;
    font-size: 1.6rem;
    color: #fff;
    border-radius: 6px 0 0 6px;
}

.search button {
    width: 40px;
    font-size: 1.8rem;
    border-radius: 0 6px 6px 0;
    background-color: #4a4e69;
    color: #fff;
    transition: .3s;
}

.search button:hover {
    background-color: #5d6282;
}

