.slider-container,
.movie-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider-inner, 
.movie-inner {
    display: flex;
    transition: transform .8s ease;
}

.slide {
    position: relative;
    width: 100%;
    flex-shrink: 0;
}

.slide figure {
    height: 500px;
    border-radius: 3px;
    overflow: hidden;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);    
    width: 40px;
    height: 40px;
    font-size: 2rem;
    border-radius: 50%;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

section {
    margin: 32px 0;
    overflow: hidden;
}

section header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    margin-bottom: 16px;
    color: #fff;
}

section header .title-name {
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

section header a {
    transition: .3s;
    cursor: pointer;
}

section header a:hover {
    color: var(--primry-color);
}

.movie-inner {
    margin: 0 -8px;
}

.movie {
    width: 16.66667%;
    flex-shrink: 0;
    padding: 0 8px;
    position: relative;
}

.movie figure {
    height: 300px;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
}

.movie figure img {
    transition: .3s;
}

.language {
    position: absolute;
    top: 6px;
    font-size: 1.4rem;
    right: 6px;
    text-transform: uppercase;
    color: #fff;
    padding: 4px 6px;
    background-color: var(--primry-color);
    border-radius: 3px;
}

.movie-name {
    display: block;
    margin-top: 8px;
    color: #fff;
    font-size: 1.6rem;
    transition: .3s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-name:hover {
    color: var(--primry-color);
}

.movie figure:hover .icon-play,
.movie figure:hover .add-movie {
    opacity: 1;
}

.movie figure:hover img {
    transform: scale(1.2);
    opacity: .3;
}

.icon-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: #fff;
    opacity: 0;
    transition: .3s;
}

.add-movie {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2rem;
    width: 40px;
    height: 40px;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease all;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(10px);
}

.add-movie .icon-add,
.add-movie .icon-remove {
    padding: 10px;
}

.add-movie.active .icon-remove {
    display: block;
}

.add-movie.active .icon-add,
.add-movie .icon-remove {
    display: none;
}




