.main-page {
    position: relative;
}
.main-page > header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    padding: 12px 0;
    max-width: 1400px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    z-index: 9999;
    gap: 20px;
}
.logo {
    padding: 8px 0;
    font-size: 2rem;
}
.logo a {
    color: #ffbe0b;
}
.menu-header {
    display: flex;
}
.menu-header__item {
    font-size: 1.6rem;
    padding: 8px 16px;
    cursor: pointer;
    transition: .3s;
}
.menu-header__item:hover a {
    color: #ffbe0b;
}
.search {
    flex: 1;
    display: flex;
    justify-content: end;
}

.search input {
    width: 300px;
    background-color: #4a4e69;
    padding: 8px 16px;
    font-size: 1.6rem;
    color: #fff;
    border-radius: 8px 0 0 8px;
}

.search button {
    width: 40px;
    font-size: 1.8rem;
    border-radius: 0 8px 8px 0;
    background-color: #4a4e69;
    color: #fff
}

.content {
    background-color: var(--primary-color);
    min-height: 100vh;
    padding-top: 100px;
    overflow-y: auto;
}

.slider-container,
.movie-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slider-inner, 
.movie-inner {
    display: flex;
    transition: transform .8s ease;
}

.slide {
    position: relative;
    width: 100%;
    flex-shrink: 0;
}

.slide figure {
    height: 500px;
    border-radius: 8px;
    overflow: hidden;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);    
    width: 40px;
    height: 40px;
    font-size: 2rem;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,.2);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.slider-info {
    position: absolute;
    left: 12px;
    bottom: 12px; 
    padding: 8px;  
}

.slider-info h3 {
    font-size: 2rem;
    margin-bottom: 12px;
    text-transform: uppercase;
    color: #fff;
}

.slider-info__bottom {
    display: flex;
    align-items: center;
    gap: 8px;
}

.slider-info__bottom button {
    padding: 6px 16px;
    color: #fff;
    background-color: #ffbe0b;
    border-radius: 8px;
    font-size: 1.6rem;
    transition: .3s;
}

.slider-info__bottom button:hover {
    opacity: .8 ;
}

.slider-info__bottom > .year  {
    padding: 4px 8px;
    font-size: 1.4rem;
    background-color: #ffd60a;
    border-radius: 4px;
    color: #fff;
}

section {
    margin: 32px 0;
}

section header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
    margin-bottom: 16px;
}

section header .title-name {
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

section header a {
    transition: .3s;
}

section header a:hover {
    color: #ffbe0b;
}

.movie-inner {
    gap: 16px;
}

.movie {
    width: calc(16.66667% - 14px);
    flex-shrink: 0;
    position: relative;
}

.movie figure {
    height: 300px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.movie figure img {
    transition: .3s;
}

.language {
    position: absolute;
    top: 6px;
    font-size: 1.4rem;
    right: 6px;
    text-transform: uppercase;
    color: #fff;
    padding: 4px 6px;
    background-color: #ffbe0b;
    /* border-radius: 8px; */
}

.movie-name {
    display: block;
    margin-top: 8px;
    color: #fff;
    font-size: 1.6rem;
    transition: .3s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-name:hover {
    color: #ffbe0b;
}

.movie figure:hover .icon-play {
    opacity: 1;
}

.movie figure:hover img {
    transform: scale(1.2);
    opacity: .3;
    
}

.icon-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: #fff;
    opacity: 0;
    transition: .3s;
}



