@media (max-width: 1024px) {
  .main-page {
    padding: 0 32px;
  }
  .main-page > header {
    justify-content: space-between;
    left: 32px;
    right: 32px;
    width: unset;
    padding: 16px 0;
  }
  .bars,
  .close {
    display: flex;
  }
  .menu-header.active {
    opacity: 1;
    transform: translateX(0);
    padding: 20px 32px 20px 20px;
  }
  .menu-header {
    inset: 0;
    height: 100vh;
    flex-direction: column;
    background-color: #22223b;
    position: fixed;
    z-index: 9999;
    opacity: 0;
    overflow-y: auto;
    transition: all 0.3s ease;
    transform: translateX(-100%);
  }
  .menu-header__item:hover {
    outline: unset;
  }
  .close {
    right: 32px;
    top: 20px;
  }
  .item__list {
    display: flex;
    padding: 6px 12px;
    width: unset;
    opacity: 1;
    position: unset;
    background-color: unset;
    max-height: unset;
    box-shadow: unset;
  }
  .menu-header__item:nth-child(6):after,
  .menu-header__item:nth-child(5):after {
    display: none;
  }
  .search {
    flex: unset;
  }
  .search input {
    width: 100%;
  }
  .movie {
    width: 25%;
  }
  .movie-info h3 {
    font-size: 3rem;
  }
  .add-movie  {
    opacity: 1;
  }
  footer {
    gap: 32px 0;
  }
  .footer-item {
    width: 100%;
  }
  .send-mail {
    width: 100%;
  }
  .episode {
    width: calc(12.5% - 11px);
  }
}

@media (max-width: 768px) {
  .main-page {
    padding: 0 24px;
  }
  .movie {
    width: 33.3333%;
  }
  .main-page > header {
    left: 24px;
    right: 24px;
    padding: 16px 0;
  }
  .movie-info {
    left: 24px;
    bottom: 24px;
  }
  .menu-header.active {
    padding: 16px 24px 16px 16px;
  }
  .item__list > li {
    width: calc(50% - 6px);
  }
  .close {
    right: 24px;
    top: 16px;
  }
  .movie-info h3  {
    font-size: 2rem;
  }
  #toast {
    top: 24px;
    right: 24px;
  }
  .episode {
    font-size: 1.4rem;
    width: calc(16.66666% - 10px);
  }
}

@media (max-width: 480px) {
  *::-webkit-scrollbar {
    width: 0;
    height: 6px;
  }
  .main-page {
    padding: 0 16px;
  }
  .main-page > header {
    left: 16px;
    right: 16px;
    width: unset;
    gap: 24px;
  }
  .menu-header.active {
    padding: 8px 16px 8px 8px;
  }
  .search input {
    width: 84%;
  }
  .movie {
    width: 50%;
  }
  .slide figure,
  .background-movie figure {
    height: 280px;
  }
  .movie figure {
    height: 250px;
  }
  .name-movie {
    font-size: 2rem;
  }
  .movie-info {
    left: 12px;
    bottom: 12px;
  }
  .info-bottom {
    flex-wrap: wrap;
  }
  section header {
    font-size: 1.4rem;
  }
  .close {
    right: 16px;
    top: 12px;
  }
  .view-iframe iframe {
    height: 210px;
  }
  .episode {
    font-size: 1.2rem;
    width: calc(25% - 28px);
  }
  .footer-item {
    width: 100%;
  }
  #toast {
    top: 16px;
    right: 16px;
  }
  .toast {
    width: 320px;
    padding: 8px;
  }
  .toast__title {
    font-size: 1.4rem;
  }
  .toast__message {
    font-size: 1.3rem;
  }
  .prev {
    left: 4px;
  }
  .next {
    right: 4px;
  }
  .reset-value {
    right: 40px;
  }
}
